/* Footer Styles */
.footer {
    background-color: #d8deed;
    border-top: 1px solid #1e2538;
    padding: 2rem 0;
    margin-top: auto;
    
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    height: .8vh;
    justify-items: center;
    align-items: center;
    /* margin-top: 7px; */
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .footer-links {
    display: flex;
    gap: 1rem;
  }
  
  .footer-link {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #3a86ff;
  }
  
  @media (min-width: 768px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .text-gray-400{
    padding-top: 10px;
  }